---
{
    "stream": {
        "$id": "homePage",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_homePage"
        ]
      },
      "fields": [
        "name",
        "title",
        "description",
        "slug",
        "c_bannerURL",
        "c_about",
        "c_homeBlogs.name",
        "c_homeBlogs.slug",
        "c_homeBlogs.description",
        "c_homeBlogs.c_image",
        "c_relatedProducts.name",
        "c_relatedProducts.photoGallery",
        "c_relatedProducts.price",
        "ds_services"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "index.html"
}
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{global.name}}</title>
    <meta name="description" content="{{global.name}}">
    {{>head}}
  </head>
  <body class="bg-white text-gray-600 font-Poppins leading-normal text-base tracking-normal">
    {{>top-nav}}
    {{>navbar}}
    <div class="w-full m-0 p-0 bg-cover bg-bottom">
      <div class="relative">
      <img width="1700" height="917" src="{{c_bannerURL}}" class="object-cover h-96 w-full md:h-auto" alt="">
      <div class="absolute w-full xl:top-20 lg:top-16 md:top-10 top-6">
        <div class="container mx-auto px-4">
          <div class="relative w-full max-w-xs xl:max-w-lg lg:max-w-sm md:max-w-xs ">
            <img width="512" height="530" class="xl:max-w-xl w-full" src="/images/banner-graphic.webp" alt="">
            <div class="absolute w-full lg:top-32 w-9/12 left-11 top-24 md:top-24">
              <h4 class="xl:text-6xl lg:text-4xl md:text-3xl font-semibold text-textwhite font-Josefin pb-4 xl:mb-3 relative z-10">{{name}}</h4>
              <p class="font-light text-textwhite xl:text-xl lg:text-xl md:text-base">{{description}}</p>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
    <section class="about relative mt-16">
      <div class="container mx-auto px-4">
        <span class="absolute top-0 left-8"><img width="212" height="221" src="/images/graphics-about.webp" alt="circle"></span>
        <div class="w-full flex flex-wrap justify-between mx-auto pb-10">
          <div class="relative w-full md:w-6/12 text-center md:text-left pb-20">
            <img width="624" height="567" class="inline-block w-full 2xl:w-auto" src="/images/about-bg.webp" alt="about">
            <img width="624" height="390" class="absolute top-0 2xl:left-8 w-full 2xl:w-auto" src="/images/about-img.webp" alt="about2">
          </div>
          <div class="w-full md:w-6/12 pt-8 xl:pt-32 2xl:pl-4 relative md:pl-8">
            <img width="" height="" class="absolute xl:top-28 lg:top-8 2xl:left-0" src="/images/dot-bg.webp" alt="">
            <h3 class="font-medium text-bluetext uppercase text-sm font-Josefin pb-2 relative z-10">About Us</h3>
            <h2 class="text-2xl lg:text-5xl md:text-3xl font-semibold text-bluetext font-Josefin pb-4 mb-3  relative z-10">{{c_about.title}}</h2>
            <p class="font-base text-bluetext font-Josefin leading-relaxed  relative z-10">{{c_about.description}}</p>
            <a class="bg-primary hover:bg-secondary text-textwhite font-medium capitalize px-10 py-4 inline-block mt-4 lg:mt-12" href="{{c_about.button.uRL}}">{{c_about.button.label}}</a>
          </div>
        </div>
        <div class="w-full flex flex-wrap justify-between mx-auto xl:pt-24 xl:pb-24 lg:pt-20 lg:pb-20 xl:pt-24 xl:pb-24 md:pt-16 md:pb-16 pb-10">
          {{#each ds_services}}
          <div class="w-full md:w-3/12 text-center">
            <div class="bg-transparent py-6 lg:w-9/12 md:w-11/12 mx-auto xl:px-7 rounded-lg hover:shadow-2xl hover:bg-white rounded-iconradious">
              <span class="inline-block w-28 h-24 text-center bg-lightorange rounded-iconradious mb-6"><img width="48" height="48" class="w-12 inline-block mt-6" src="{{iconURL}}" alt="circle"></span>
              <h3 class="lg:text-lg md:text-base font-semibold text-black mb-3">{{title}}</h3>
              <p class="lg:text-base md:text-sm text-black">{{description}} </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </section>
    <section class="relative w-full">
      <div class="flex flex-wrap">
        {{#each c_homeBlogs}}
            <div class="w-full md:w-1/3">
            <div class="relative">
                <img width="450" height="335" class="inline-block w-full" src="{{c_image}}" alt="">
                <div class="absolute bottom-4 z-10 w-full lg:py-6 xl:px-9 lg:px-9 md:px-4 px-4">
                <h4 class="xl:text-2xl lg:text-2xl md:text-lg font-medium text-textwhite lg:mb-2 flex items-center">{{name}} <span class="w-12 bg-primary h-0.5 inline-block ml-3"></span></h4>
                <p class="lg:text-base md:text-xs text-base text-textwhite">{{description}} </p>
                </div>
            </div>
            </div>
        {{/each}}
      </div>
    </section>
    {{#if c_relatedProducts}}
    <section class="relative w-full lg:pt-20 lg:pb-20 md:pt-10 md:pb-10 pt-10 pb-10">
      <div class="container mx-auto px-4">
        <h3 class="font-medium text-bluetext uppercase text-sm font-Josefin pb-2 text-center">dotsquares</h3>
        <h2 class="text-2xl lg:text-4xl font-bold text-bluetext font-Josefin pb-4 text-center mb-10">Featured Products</h2>
        <div class="flex flex-wrap">

          <div class="w-full lg:w-1/4 px-4 md:w-2/4 lg:m-0 md:mb-20 mb-20">
            <div class="relative xl:w-10/12 mx-auto w-full">
              <div class="w-full">
                <img width="233" height="350" src="/images/featured-img1.webp" class="rounded-tl-featradious rounded-br-featradious w-full">
              </div>
              <div class="absolute -bottom-7 bg-whitetbg w-11/12 mx-auto left-0 right-0 px-7 py-4 drop-shadow-2xl rounded-iconradious">
                <p class="text-bluetext text-sm">Business Planning online assessment</p>
                <span class="text-bluetext text-lg font-semibold">£12.00</span>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 px-4 md:w-2/4 lg:m-0 md:mb-20 mb-20">
            <div class="relative xl:w-10/12 mx-auto w-full">
              <div class="w-full">
                <img width="233" height="350" src="/images/featured-img2.webp" class="rounded-tl-featradious rounded-br-featradious w-full" alt="">
              </div>
              <div class="absolute -bottom-7 bg-whitetbg w-11/12 mx-auto left-0 right-0 px-7 py-4 drop-shadow-2xl rounded-iconradious">
                <p class="text-bluetext text-sm">Business Planning online assessment</p>
                <span class="text-bluetext text-lg font-semibold">£12.00</span>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 px-4 md:w-2/4 lg:m-0 md:mb-20 mb-20">
            <div class="relative xl:w-10/12 mx-auto w-full">
              <div class="w-full">
                <img width="233" height="350" src="/images/featured-img3.webp" class="rounded-tl-featradious rounded-br-featradious w-full">
              </div>
              <div class="absolute -bottom-7 bg-whitetbg w-11/12 mx-auto left-0 right-0 px-7 py-4 drop-shadow-2xl rounded-iconradious">
                <p class="text-bluetext text-sm">Business Planning online assessment</p>
                <span class="text-bluetext text-lg font-semibold">£12.00</span>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 px-4 md:w-2/4 lg:m-0 md:mb-20 mb-20">
            <div class="relative xl:w-10/12 mx-auto w-full">
              <div class="w-full">
                <img width="233" height="350" src="/images/featured-img4.webp" class="rounded-tl-featradious rounded-br-featradious w-full" alt="">
              </div>
              <div class="absolute -bottom-7 bg-whitetbg w-11/12 mx-auto left-0 right-0 px-7 py-4 drop-shadow-2xl rounded-iconradious">
                <p class="text-bluetext text-sm">Business Planning online assessment</p>
                <span class="text-bluetext text-lg font-semibold">£12.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{/if}}
    <section class="w-full inline-block align-top">
      <div class="relative">
        <div class="absolute left-0 right-0 mx-auto md:top-1/4 z-10 top-10">
          <h2 class="text-xl leading-tight mb-6 text-textwhite font-medium text-center xl:text-3xl">Why not tell us about your new project,<br> your future dream job, or maybe you simply want to <br>talk over a cup of coffee.</h2>
          <div class="mb-4 text-center">
            <a href="#" class="inline-block bg-whitetbg w-16 h-16 text-primary rounded-full text-2xl text-center  pt-4"><i class="fa fa-play" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="w-full relative">
          <div class="absolute left-0 bottom-0 w-auto text-left"><img width="210" height="106" class="inline-block md:w-full w-2/4" src="/images/video-graphic.webp" alt=""></div>
          <div class="absolute right-0 top-0 w-auto text-right"><img width="248" height="243" class="inline-block md:w-full w-2/4" src="/images/video-graphicright.webp" alt=""></div>
          <img width="1349" height="384" src="/images/video-img.webp" class="object-cover w-full 2xl:h-auto md:h-96 2xl:h-auto h-64" alt="">
        </div>
      </div>
    </section>
    <section class="relative w-full pt-20 pb-20">
      <div class="container mx-auto px-4">
        <h2 class="text-2xl lg:text-4xl font-bold text-bluetext font-Josefin pb-4 text-center mb-8">Latest News</h2>
          <div class="flex flex-wrap">
            <div class="w-full md:w-1/3">
              <div class="relative">
                <img width="416" height="310" class="inline-block w-full" src="/images/latest-news1.webp">
                <div class="absolute bottom-4 z-10 w-full lg:py-6 lg:px-9 md:px-6 px-4">
                  <p class="text-sm font-normal text-textwhite mb-0 flex items-center"><span class="inline-block mr-3 text-2xl"><i class="fa fa-clock-o" aria-hidden="true"></i></span>March 9, 2020 </p>
                  <h3 class="lg:text-xl md:text-base font-medium text-textwhite">Lorem ipsum dolor consectetur.</h3>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/3">
              <div class="relative">
                <img width="416" height="310" class="inline-block w-full" src="/images/latest-news2.webp" alt="">
                <div class="absolute bottom-4 z-10 w-full lg:py-6 lg:px-9 md:px-6 px-4">
                  <p class="text-sm font-normal text-textwhite mb-0 flex items-center"><span class="inline-block mr-3 text-2xl"><i class="fa fa-clock-o" aria-hidden="true"></i></span>March 9, 2020 </p>
                  <h3 class="lg:text-xl md:text-base font-medium text-textwhite">Lorem ipsum dolor consectetur.</h3>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/3">
              <div class="relative">
                <img width="416" height="310" class="inline-block w-full" src="/images/latest-news3.webp" alt="">
                <div class="absolute bottom-4 z-10 w-full lg:py-6 lg:px-9 md:px-6 px-4">
                  <p class="text-sm font-normal text-textwhite mb-0 flex items-center"><span class="inline-block mr-3 text-2xl"><i class="fa fa-clock-o" aria-hidden="true"></i></span>March 9, 2020 </p>
                  <h3 class="lg:text-xl md:text-base font-medium text-textwhite">Lorem ipsum dolor consectetur.</h3>
                </div>
              </div>
            </div>
          </div>
     </div>
    </section>
    <section class="relative w-full pt-20 pb-20 bg-clientbg">
      <div class="container mx-auto px-4">
        <h3 class="font-medium text-bluetext uppercase text-sm font-Josefin pb-2 text-center">TESTIMONIALS</h3>
        <h2 class="text-2xl lg:text-4xl font-bold text-bluetext font-Josefin pb-4 text-center mb-10">SOME EXPRESSION OF<br> OUR CLIENTS</h2>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-4/6 md:w-5/6 px-4 mx-auto rounded-iconradious shadow-2xl bg-white">
            <div class="relative w-10/12 mx-auto">
              <div class="text-center py-12">
                <img width="544" height="114" src="/images/author.webp" class="inline-block" alt="">
              </div>
              <div class="py-2 pb-10 md:w-4/5 mx-auto">
                <p class="text-base font-light italic text-bluetext text-center leading-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis eu orci eu laoreet. Vestibulum sagittis arcu non consectetur semper. Suspendisse condimentum feugiat tortor et semper.</p>
              </div>
              <div>
                <h4 class="text-base font-semibold text-bluetext text-center leading-7 mb-12">Andy Derrick</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    {{>footer}}
</body>
</html>