---
{
    "stream": {
        "$id": "ds_locations",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_dotsquaresHotel"
        ]
      },
      "fields": [
        "id",
        "name",
        "slug",
        "description",
        "c_locations.name",
        "c_locations.mainPhone",
        "c_locations.slug",
        "c_locations.photoGallery",
        "c_locations.address",
        "c_locations.hours",
        "c_locations.featuredMessage",
		"c_locations.lastUpdated",
        "c_relatedFAQs.question",
        "c_relatedFAQs.answer"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{name}}</title>
        <meta name="description" content="{{description}}">
        {{>head}}
    </head>
    <body class="bg-white text-gray-600 font-Poppins leading-normal text-base tracking-normal">
        {{>top-nav}}
        {{>navbar}}
        <section class="bg-clientbg">
            <div class="flex flex-wrap">
                <div class="w-full xl:px-20 xl:py-16 px-10 py-10 flex flex-wrap">
                    <h2 class="text-3xl lg:text-4xl md:text-3xl font-semibold text-textblack mb-10 text-center w-full">Our {{name}}</h2>            
                 </div>    
            </div>
			
			
			<div class="flex flex-wrap">
                <div class="w-full xl:px-20 xl:py-16 px-10 py-10 flex flex-wrap">                             
                    <div class="w-full  flex flex-wrap"> 
						<div class="w-full md:w-1/4 xl:px-0 xl:py-0 px-5 py-5">						 
							{{#each c_locations}}
							<div class="w-full md:w-1/2 xl:px-0 xl:py-0 px-5 py-5">
							<h4 class="text-base font-medium text-textblack mb-2"><a href="/location/{{slug}}.html">{{name}}</a></h4>
								<p class="text-sm font-light text-textblack leading-7 mb-2">
									{{address.line1}},
									{{address.city}}, {{address.region}} {{address.postalCode}}, {{address.countryCode}}
								</p>
								<p class="text-base font-medium text-textblack mb-8"><a href="tel:{{mainPhone}}" class="text-primary">{{mainPhone}}</a></p>
							</div>
							{{/each}}
						</div> 
						<div class="w-full md:w-3/4 xl:px-0 xl:py-0 px-5 py-5">
							<div class="w-full xl:px-0 xl:py-0 px-5 py-5" id="map_canvas"></div>
						</div>
						
                    </div>    
                </div>    
            </div>
        
		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>		
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZNQlSlEIkFAct5VzUtsP4dSbvOr2bE18"></script>
<div class="list-group col-md-1" style="display:none;" >
   <a id="0" href="#" class="list-group-item" data-name='Maroubra Beach' data-lat='-33.950198' data-lng=' 151.259302'>Cras justo odio</a><br />
   <a id="1" href="#" class="list-group-item" data-name='Coogee Beach' data-lat='-33.923036' data-lng=' 151.259052'>Dapibus ac facilisis in</a><br />
   <a id="3" href="#" class="list-group-item" data-name='Cronulla Beach' data-lat='-34.028249' data-lng=' 151.157507'>Morbi leo risus</a>
</div>
<div class="col-md-9">
   <div id="map"></div>
</div>
		
		
<script>
   (function(Mapping, $, undefined) {
var self = this;

function Initialize() {
	var myOptions = {
	  zoom: 10,
		center: new google.maps.LatLng(-33.92, 151.25),
		mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  self.map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
  self.markers = [];
  self.infoWindow = new google.maps.InfoWindow();
  
  $('.list-group-item').each(function() {
	var $this = $(this);
	var pos = new google.maps.LatLng($this.data('lat'), $this.data('lng'));
	var marker = new google.maps.Marker({
					position: pos,
					map: self.map
				  });
	self.markers.push(marker);
	
	$this.click(function() {
		self.map.panTo(pos);
	  self.infoWindow.setContent($this.data('name'));
	  self.infoWindow.open(self.map, marker);
	  $this.siblings().removeClass('active');
	  $this.addClass('active');
	});
  });
}

Initialize();
})(window.Mapping = window.Mapping || {}, jQuery);                                   
   
</script>
<style>
#map_canvas {
    width: 700px;
    height: 600px;
    margin: 2em auto;
}
</style>	
		</section>
        {{#if c_relatedFAQs}}
         {{>faq-above-footer c_relatedFAQs}}
         {{/if}}
        {{>footer}}
    </body>
</html>