---
{
    "stream": {
        "$id": "ds_locator",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_dotsquaresHotel"
        ]
      },
      "fields": [
        "id",
        "name",
        "slug",
        "description",
        "c_locations.name",
        "c_locations.mainPhone",
        "c_locations.slug",
        "c_locations.photoGallery",
        "c_locations.address",
        "c_locations.hours",
        "c_locations.featuredMessage",
		"c_locations.cityCoordinate",
        "c_relatedFAQs.question",
        "c_relatedFAQs.answer"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "locator.html"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Locator (Sandbox.yext.com Account)</title>
        <meta name="description" content="{{description}}">
        {{>head}}
    </head>
    <body class="bg-white text-gray-600 font-Poppins leading-normal text-base tracking-normal">
    	{{>top-nav}}
    	{{>navbar}}
    	<section class="bg-clientbg">            
    		<div class="flex flex-wrap">
    			<div class="w-full xl:px-20 xl:py-16 px-10 py-10 flex flex-wrap">
    				<h2 class="text-3xl lg:text-4xl md:text-3xl font-semibold text-textblack mb-10 text-center w-full">Locator (Sandbox.yext.com Account)</h2>
    				<p>
    					API URL - https://api-sandbox.yext.com/v2/accounts/me/entities<br/>
    					API Key - Live API ( b262ae7768eec3bfa53bfca6d48e4000 )<br/>					
    					Account ID - 2679138<br/>
    					Account URL - https://sandbox.yext.com/s/2679138/entities2<br/>	
    				</p>	
    			</div>    
    			<div class="w-full flex flex-wrap">  
    				<div class="w-full flex flex-wrap">									
    					<div id="leftside" class="w-full md:w-1/4 xl:py-0 py-5">
    						<div class="input-group relative flex items-stretch mx-5 mb-4">
    							<i class="fa fa-search absolute top-3 left-3 z-10 opacity-30" aria-hidden="true"></i>
    							<input id="search_key" name="search_key" type="text" class="search_key form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 pl-8 leading-7 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none border-r-0" placeholder="Enter ZIP Code or Address" aria-label="Enter ZIP Code or Address" aria-describedby="button-addon2">
    							<button class="btn leading-7 inline-block px-4 py-1.5 text-primary bg-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out flex items-center border border-solid border-gray-300 border-l-0" type="button" id="button-addon2">
    								<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    							</button>
    						</div> 
    						<div id="leftside-inner" class="overflow-y-auto h-[542px] w-full">
	    						{{#each c_locations}}
	    						<div data-name='{{name}}' data-lat={{cityCoordinate.latitude}} data-lng={{cityCoordinate.longitude}} class="list-group-item w-full px-5 divide-y-2 divide-gray-100 border-b mb-4 border-solid border-gray-300">
	    							<h4 class="text-base font-medium text-textblack mb-1">{{name}}</h4>
	    							<p class="address text-sm font-light text-textblack leading-5 mb-1">
	    								{{address.line1}},
	    								{{address.city}}, {{address.region}} {{address.postalCode}}, {{address.countryCode}}
	    							</p>
	    							<p class="text-base font-medium text-textblack "><a href="tel:{{mainPhone}}" class="text-primary">{{mainPhone}}</a></p>
	    							<p class="mb-4"><a  href="/location/{{slug}}.html">Read More</a></p>
	    						</div>
	    						{{/each}}
	    					</div>
    					</div> 
    					<div class="w-full md:w-3/4 xl:px-0 xl:py-0 px-5 py-5">
    						<div class="w-full xl:px-0 xl:py-0 px-5 py-5 h-[600px]" id="map_canvas"></div>
    					</div>

    				</div>    
    			</div>    
    		</div>


    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>		
    		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZNQlSlEIkFAct5VzUtsP4dSbvOr2bE18&sensor=false&libraries=places"></script>


    		<script>


    			function load_map(Mapping, $, undefined) {
    				var self = this;

    				function Initialize() {

    					var lat = 25.7748108;
    					var lng = -80.197731;

    					$('.list-group-item').each(function() {
    						lat = $(this).data('lat');
    						lng = $(this).data('lng');
    					});



    					var myOptions = {
    						zoom: 8,
    						center: new google.maps.LatLng( lat, lng ),
    						mapTypeId: google.maps.MapTypeId.ROADMAP
    					};

    					self.map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
    					self.markers = [];
    					self.infoWindow = new google.maps.InfoWindow();

    					$('.list-group-item').each(function() {
    						var $this = $(this);
    						var pos = new google.maps.LatLng($this.data('lat'), $this.data('lng'));
    						var marker = new google.maps.Marker({
    							position: pos,
    							map: self.map
    						});
    						self.markers.push(marker);

    						$this.click(function() {
    							self.map.panTo(pos);
    							self.infoWindow.setContent($this.data('name'));
    							self.infoWindow.open(self.map, marker);
    							$this.siblings().removeClass('active');
    							$this.addClass('active');
    						});
    					});
    				}

    				Initialize();
    			}

    			(load_map)(window.Mapping = window.Mapping || {}, jQuery);                                   

    			$(function(){

    				$("#button-addon2").click(function(){

    					var varData = { 				
    						api_key: 'b262ae7768eec3bfa53bfca6d48e4000', 
    						v: '20211229', 
    						entityTypes: 'location'
    					};

    					var searchText =  $('.search_key').val();
    					if(searchText){

    						var jsstring = {
    							"$or":[
    							{
    								"address.line1":{
    									"$startsWith":searchText
    								}
    							},
    							{
    								"address.city":{
    									"$startsWith":searchText
    								}
    							},
    							{
    								"address.region":{
    									"$startsWith":searchText
    								}
    							},
    							{
    								"address.countryCode":{
    									"$startsWith":searchText
    								}
    							},
    							{
    								"address.postalCode":{
    									"$startsWith":searchText
    								}
    							}
    							]
    						}; 

			/* 
			var jsstring = {
			  "address.line1":{
				"$contains":searchText
			  }
			}; 
			*/
			

			var filterpar = JSON.stringify(jsstring);		  		 
			var filter = encodeURI(filterpar);	

			var url = "https://api-sandbox.yext.com/v2/accounts/me/entities?filter="+filter;		  

		}else{	

			var url = "https://api-sandbox.yext.com/v2/accounts/me/entities";

		}
		
		
		
		$.ajax({
			url: url,
		  type: "get", //send it through get method
		  data: varData,
		  success: function(result) { // alert();

		  	if(!result.errors){

		  		if(result.response.count > 0 ){

		  			var html = '';
		  			$.each(result.response.entities, function( index, entity ){

		  				html  += '<div data-name="'+entity.name+'" data-lat="'+entity.cityCoordinate.latitude+'" data-lng="'+entity.cityCoordinate.longitude+'" class="list-group-item w-full px-5 divide-y-2 divide-gray-100 border-b mb-4 border-solid border-gray-300">';
		  				html  += '<h4 class="text-base font-medium text-textblack mb-1">'+entity.name+'</h4>';
		  				html  += '<p class="address text-sm font-light text-textblack leading-5 mb-1">';
		  				html  += entity.address.line1+', '+entity.address.city+', '+entity.address.region+', '+entity.address.postalCode+', '+entity.address.countryCode;
		  				html  += '</p>';
						html  += '<p class="text-base font-medium text-textblack "><a href="tel:'+entity.mainPhone+'" class="text-primary">'+entity.mainPhone+'</a></p>';
						html  += '<p class="mb-4"><a  href="/location/'+entity.meta.id+'-'+convertToSlug(entity.neighborhood)+'.html">Read More</a></p>';
						html  += '</div>';

						
					});
		  			$("#leftside-inner").html(html);
		  			(load_map)(window.Mapping = window.Mapping || {}, jQuery); 


		  		}else{
		  			$("#leftside-inner").html('<p class="text-base font-medium text-textblack mb-8">Location not found.</p>');
		  		}

		  	}else{
		  		$("#leftside-inner").html('<p class="text-base font-medium text-textblack mb-8">Location not found.</p>');
		  	}	


		  },
		  error: function(xhr) {
		  	$("#leftside-inner").html('<p class="text-base font-medium text-textblack mb-8">Location not found.</p>');
		  }
		});
	});

    			});

    			function initializeAutocomplete() {
    				var input = document.getElementById('search_key');
    				new google.maps.places.Autocomplete(input, {
    					componentRestrictions: { country: ["us"] },
    					fields: ["street_number"],
    					types: ["address"],
    				});
    			}

// google.maps.event.addDomListener(window, 'load', initializeAutocomplete);

function convertToSlug(Text) {
	return Text;
  // return Text.toLowerCase().replace(/ /g, '-').replace(/[^\w-]+/g, '');
}

</script>
</section>
{{#if c_relatedFAQs}}
{{>faq-above-footer c_relatedFAQs}}
{{/if}}
{{>footer}}
</body>
</html>