---
{
    "stream": {
        "$id": "product-categories",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_productCategory"
        ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "name",
        "slug",
        "richTextDescription",
        "c_relatedProducts.name",
        "c_relatedProducts.slug",
        "c_relatedProducts.photoGallery",
        "c_relatedProducts.brand",
        "c_relatedProducts.price",
        "c_relatedProducts.color",
        "c_relatedProducts.richTextDescription"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{name}}</title>
        <meta name="description" content="{{description}}">
        {{>head}}
        {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body class="bg-white text-gray-600 font-Poppins leading-normal text-base tracking-normal">
    {{>top-nav}}
    {{>navbar}}

    <div class="w-full max-w-7xl mx-auto py-8 px-6 text-center">
      <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-2xl md:mb-8">{{name}}</div>
    </div>
    <div class="flex flex-wrap w-full max-w-7xl mx-auto">
    {{#each c_relatedProducts}}
      
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 text-center mb-10">
          <div class="mb-5 w-full">
            {{>photoGallery photoGallery}}
          </div>
          <h3 class="mb-3 sm:h-12"><a class="tracking-wide no-underline hover:no-underline font-normal text-gray-800 text-base mb-8 hover:text-primary" href={{slug}}>{{name}}</a></h3>
          <div class="font-semibold text-xl">${{price.value}} </div>
        </div>
    {{/each}}
    </div>

    </body> 

{{>footer}}

</html>